@import 'breakpoints';

.avatar {
	$parent: &;

	display: inline-block;
	overflow: hidden;
	border-radius: 100%;
	line-height: 1;
	position: relative;
	width: 50px;
	height: 50px;
	line-height: 50px;

	&[data-initials] {
		text-align: center;
		color: #fff;
		background-color: var(--clr-primary, #ccc);

		&:after {
			content: attr(data-initials);
		}
	}

	span,
	img {
		display: block;
	}

	@include breakpoint($lg) {
		&--md {
			width: 80px;
			height: 80px;
			line-height: 80px;
			font-size: 20px;
		}

		&--lg {
			width: 120px;
			height: 120px;
			line-height: 120px;
			font-size: 40px;
		}
	}
}
